<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rofleksey.animewatcher">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AnimeApplication"
        android:allowBackup="true"
        android:icon="@drawable/zero2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zero2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.SecretActivity" />
        <activity android:name=".activity.DownloadActivity" />
        <activity
            android:name=".activity.TitleListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EpisodeListActivity" />
        <activity android:name=".activity.SearchActivity" />
    </application>

</manifest>